#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#teachers {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#teachers td,
#teachers th {
  border: 1px solid #ddd;
  padding: 10px;
}

#teachers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#teachers tr:hover {
  background-color: rgb(13, 148, 137);
  cursor: pointer;
}

#teachers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: white;
  background-color: rgb(78, 112, 114);
}
